* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1 rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* ----------------------Header---------------------- */
header {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
}
header * {
  display: inline;
}
header li {
  margin: 0 10px;
  padding: 0 10px;
}
header h2 {
  visibility: hidden;
  padding-left: 4%;
}
h1.logo {
  color: white;
  padding: 8%;
  font-size: 3rem;
  transition: 0.3s;
}
nav {
  margin-right: 5%;
}
nav li:hover {
  color: lightblue;
}
/* -------------------------Main----------------------- */
/* -----------------------Section 1-------------------- */

.container {
  background-image: url("/images/pexels-negative-space-34153.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  margin-top: 80px;
}
/* -----------------Section 2------------------ */
#section-2 {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

/* -----------------Section 3------------------ */
#section-3 {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
